:root {
  --primary-color: #2f5097;
  --secondary-color: #161f63;
  --text-color: #ffffff;
  --subtext-color: #6d6d6d;
  --background-color: #110909;
  --subbackground-color: #222225;
}

body{
  background-color: var(--background-color); ;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lemon-sans-next, sans-serif;
}


/* NAVBAR */
#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: none;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
  color: white;
  /* width: 35vw; */
  z-index: 9999;
  font-weight: bold;
}




#navbar span:hover {
  color: var(--primary-color);
  /* border-bottom: ; */
}

#Brand {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
}

#logo {
  padding-top: 2vw;
  height: 10vw;
  width: 10vw;
  object-fit: cover;
}

#brand-name {
  font-size: 1.5rem;
  font-weight: bold;
  color:var(--text-color);
}


/* BACKGROUND SECTION */
.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh; 
  background: var(--background-color);
  overflow: hidden;

}
/* TITLE SECTION */
#front-page{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh; 
  background: none;
  display: flex;
  flex-direction: column;
  z-index: 998;
  justify-content: center;
  align-items: center;
}


#title-box{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
  align-items: flex-end;
  
}
#left-title{
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  padding-right: 20px;
}
#right-title{
  display: flex;
  align-items: center;
  /* border-style: solid; */
  border-radius: 8px;
  border-color: var(--primary-color);
  height: 80%;
  justify-self: flex-end;

}


#title-img{
  width: 40rem;
  height: 40rem;
  /* padding: 3rem; */

}

h1{
  color: white;
  margin-top: 10rem;
  font-size: 5rem;
}

p{
  color: white;
  margin-top: 2.5rem;
  font-size: 1rem;
  line-height: 1.5rem;

}
.click{
  margin-top: 2.5rem;
  width: 10rem;
  height: 2.5rem;
  border-radius: 8px;
  border-style: solid;
  background-color: transparent;
  color: white;
  border-color: white;
  transition: all 400ms cubic-bezier(.23, 1, 0.32, 1);
  font-weight: bold;
  font-size: 1rem;
  opacity: 80%;
}
.click:hover{
  color:  #110911;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border-style: none;
  opacity: 100%;

  

}
/* TESTIMONIALS */
#testimonials {
  z-index: 2;
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin-top: 101vh;
  margin-bottom: 0;
  
}

header {
  width: 10rem;
  height: 2.5rem;
  color: var(--text-color);
  border-color: var(--primary-color);
  border-radius: 8px;
  border-style: solid;
  font-size: 1rem;
  display: flex;
  align-items: center;    
  justify-content: center;
  font-weight: bold;
  box-shadow: 0 0 100px var(--primary-color);
  

}

h2{
  margin-top: 4vw;
  font-size: 3.5rem;
  font-weight: 100;
}

#test-box{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 4vw;
  padding-bottom: 4vw;

}
.test{

  border-radius: 8px;
  border-style: solid;
  border-color: var(--text-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:  var(--background-color);
  width: 25vw;
  align-items: center;


}

.test p {
  /* width: 80%; */
  margin: 15px;
  font-size: 1rem;
  /* line-height: 2rem; */
  font-weight: 100;

}

.test-attr{
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
  margin-bottom: 2vw;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;


  
}
.test-attr img{
  width: 5vw;
  height: 5vw;
  padding-right: 10px;
}
.test-person{
  /* padding-top: 1vw; */
  display: flex;
  flex-direction: column;
}
h3{
  color:var(--text-color);
  /* font-weight: 100; */
}
h4{
  color:var(--subtext-color);
  /* font-weight: 100; */
}


#services{
  /* z-index: 2; */
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 12vh;
  margin: 0;
}

#serv-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  padding-top: 10vh;
}

.serv{

  width: 45vw;
  /* background-color: pink; */
  margin-top: 4vw;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  padding: 10px;
  border-style: solid;
  border-color: var(--primary-color);
}

.serv-desc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.serv-desc p {
  width: 80%;
}

.serv-ex{
  display: flex;
  align-items: center;
}


.serv-ex video{
  /* height: 8%; */
  width: 80%;
  border-radius: 8px;
}


.horizontal{
  /* margin: 0; */
  flex-direction: column;
}
.horizontal * video {
  width: 100%;
  margin-top: 4vh;
}

.horizontal .serv-desc{
  margin-top: 2vh;
}
/* BALLS ANIMATION */
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.ball {
  position: absolute;
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  backface-visibility: hidden;
  animation: move linear infinite;
  z-index: 1;
}

.ball:nth-child(odd) {
  color: var(--primary-color);
}

.ball:nth-child(even) {
  color: var(--primary-color);
  
}

/* Individual Ball Configurations */
.ball:nth-child(1) {
  top: 77%;
  left: 88%;
  animation-duration: 18s;
  animation-delay: -3s;
  transform-origin: 16vw -2vh;
  box-shadow: 40vmin 0 5.703076368487546vmin currentColor;
}
.ball:nth-child(2) {
  top: 42%;
  left: 2%;
  animation-duration: 16s;
  animation-delay: -29s;
  transform-origin: -12vw 18vh;
  box-shadow: -40vmin 0 5.17594621519026vmin currentColor;
}
.ball:nth-child(3) {
  top: 28%;
  left: 18%;
  animation-duration: 28s;
  animation-delay: -2s;
  transform-origin: -15vw 3vh;
  box-shadow: 40vmin 0 5.248179047256236vmin currentColor;
}
.ball:nth-child(4) {
  top: 50%;
  left: 79%;
  animation-duration: 42s;
  animation-delay: -7s;
  transform-origin: -13vw -6vh;
  box-shadow: 40vmin 0 5.279749632220298vmin currentColor;
}
.ball:nth-child(5) {
  top: 46%;
  left: 15%;
  animation-duration: 48s;
  animation-delay: -20s;
  transform-origin: 4vw 0vh;
  box-shadow: -40vmin 0 5.964309466052033vmin currentColor;
}
.ball:nth-child(6) {
  top: 77%;
  left: 16%;
  animation-duration: 32s;
  animation-delay: -5s;
  transform-origin: 18vw 4vh;
  box-shadow: 40vmin 0 5.178483653434181vmin currentColor;
}
.ball:nth-child(7) {
  top: 22%;
  left: 17%;
  animation-duration: 45s;
  animation-delay: -3s;
  transform-origin: 1vw -20vh;
  box-shadow: -40vmin 0 5.703026794398318vmin currentColor;
}
.ball:nth-child(8) {
  top: 41%;
  left: 47%;
  animation-duration: 50s;
  animation-delay: -15s;
  transform-origin: 20vw -3vh;
  box-shadow: 40vmin 0 5.196265905749415vmin currentColor;
}

/* SCROLLABLE CONTENT */

.content {
  width: 100vw;
  background: white;
  color: #333;
  /* padding-top: 150px 20%; */
  padding: 0;
  line-height: 1.7;
  /* min-height: 100vh; */
}

