:root {
  --primary-color: #2f5097;
  --secondary-color: #161f63;
  --text-color: #ffffff;
  --subtext-color: #6d6d6d;
  --background-color: rgb(17, 9, 9);
  --subbackground-color: #222225;
}

body{
  background-color: var(--background-color); ;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lemon-sans-next, sans-serif;
}


/* NAVBAR */
#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: none;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
  color: white;
  /* width: 35vw; */
  z-index: 9999;
  font-weight: bold;
}

#navbar a{
  transition: color 0.3s ease, box-shadow 0.3s ease;
  color: var(--text-color);
  text-decoration: none;
}




#navbar a:hover {
  color: var(--primary-color);
  /* border-bottom: ; */
}

#Brand {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
}

#logo {
  padding-top: 2vw;
  height: 10vw;
  width: 10vw;
  object-fit: cover;
}

#brand-name {
  font-size: 1.5rem;
  font-weight: bold;
  color:var(--text-color);
}


/* BACKGROUND SECTION */
.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh; 
  background-color: var(--background-color);

  overflow: hidden;

}
/* TITLE SECTION */
#front-page{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh; 
  background: none;
  display: flex;
  flex-direction: column;
  z-index: 998;
  justify-content: start;
  align-items: center;
}


#title-box{

  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: 10vw;
  
}
#left-title{
  display: flex;
  flex-direction: column;
  width: 50vw;
  text-align: left;
  padding-right: 10px;
}
#right-title{
  display: flex;
  align-items: center;
  /* border-style: solid; */
  border-radius: 8px;
  border-color: var(--primary-color);
  height: 80%;
  justify-self: flex-end;

}


#title-img{
  width: 50rem;
  height: 50rem;
  position: relative;
  top: 5vh;

}

h1{
  color: white;
  margin-top: 10rem;
  font-size: 5rem;
  /* transition: 700ms ease; */
  
  /* letter-spacing: -3px; */

  
}

/* h1:hover{
  letter-spacing: 1px;
} */

p{
  color: white;
  margin-top: 2.5rem;
  font-size: 1rem;
  line-height: 1.5rem;

}
.click{
  margin-top: 2.5rem;
  width: 10rem;
  height: 2.5rem;
  border-radius: 8px;
  border-style: solid;
  background-color: transparent;
  color: white;
  border-color: white;
  transition: all 400ms cubic-bezier(.23, 1, 0.32, 1);
  font-weight: bold;
  font-size: 1rem;
  opacity: 80%;
  position: relative;
  left: 1vw;
}
.click:hover{
  color:  #110911;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border-style: none;
  opacity: 100%;

  

}


/* ABOUT US */

#about-us{
  display: flex;
  flex-direction: column;
  margin-top: 101vh;
  background-color:  var(--background-color);
  color: var(--text-color);
  height: 80vh;
  align-items: center;
  padding-top: 2vh;

}

#about-us h2{
  text-align: center;
  font-weight: bold;
  width: 80%;

}
#about-us h4 {
  font-size: 2rem;
  text-align: center;
  width: 50%;
  color: var(--primary-color);
}
#about-us p{
  width: 65%;
  align-self: center;
  line-height: 2.5rem;
  font-size: 1rem;
  padding-top: 8vh;
  
}
.small-text{
  font-size: 2rem;
  color: var(--subtext-color);
}
.glow{
  box-shadow: 0 0 100px var(--primary-color);
  background: rgb(47, 80, 152, .4);
  border-radius: 50%;
  padding: .25rem;
  /* color: var(--primary-color); */
}
.highlight{

  color: var(--primary-color);
  font-weight: bold;
  /* font-size: 2rem; */
}
/* TESTIMONIALS */
#testimonials {
  z-index: 2;
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin-top: 15vh;
  margin-bottom: 10vh;
  
}

header {
  width: 10rem;
  height: 2.5rem;
  color: var(--text-color);
  border-color: var(--primary-color);
  border-radius: 8px;
  border-style: solid;
  font-size: 1rem;
  display: flex;
  align-items: center;    
  justify-content: center;
  font-weight: bold;
  box-shadow: 0 0 100px var(--primary-color);
  

}

h2{
  margin-top: 4vw;
  font-size: 3.5rem;
  font-weight: 100;
}

#test-box{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 4vw;
  padding-bottom: 4vw;

}
.test{

  border-radius: 8px;
  /* border-style: solid; */
  border-color: var(--text-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:  var(--background-color);
  width: 25vw;
  align-items: center;


}

.test p {
  /* width: 80%; */
  margin: 15px;
  font-size: 1rem;
  /* line-height: 2rem; */
  font-weight: 100;

}

.test-attr{
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
  margin-bottom: 2vw;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;


  
}
.test-attr img{
  width: 5vw;
  height: 5vw;
  padding-right: 10px;
}
.test-person{
  /* padding-top: 1vw; */
  display: flex;
  flex-direction: column;
}
h3{
  color:var(--text-color);
  /* font-weight: 100; */
}
h4{
  color:var(--subtext-color);
  /* font-weight: 100; */
}



/* Services Section */
#services {
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15vh;
  margin: 0;
}

/* Scroll wrapper with arrows */
.scroll-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

/* Flex container for service boxes */
#serv-box {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 10px 0;
  flex-wrap: nowrap; /* prevent wrapping for horizontal scroll */
  width: 90%;
  scroll-snap-type: x mandatory;
}

/* Each service card */
.serv {
  flex: 0 0 40vw; /* preserve your width */
  margin-top: 4vw;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 2px solid transparent;
  scroll-snap-align: start;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

}

.serv:hover{
  border: 2px solid var(--primary-color);

}

/* Service description styling */
.serv-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10vw;
}

.serv-desc p {
  width: 80%;
  color: var(--subtext-color);
}

.serv h3{
  font-size: 2rem;
}


/* Video container */
.serv-ex {
  display: flex;
  align-items: center;
}

.serv-ex video {
  width: 80%;
  border-radius: 8px;
  object-fit: cover;
}

/* Horizontal layout overrides */
/* .horizontal {
  flex-direction: column;
} 

.horizontal * video {
  width: 100%;
  margin-top: 4vh;
}

.horizontal .serv-desc {
  margin-top: 2vh; 
}*/

/* Scroll buttons */
.scroll-btn {
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.scroll-btn:hover {
  background: #1f3970;
}


#serv-box {
  cursor: grab;
}

#serv-box.active {
  cursor: grabbing;
}


/* Contact Us */
#contact{
  
  height: 60vh;
  padding-top: 30vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-box{

  /* height: 40vh; */
  border-radius: 8px;
  border-style: solid;
  border-color: var(--text-color);
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  


}

#contact-company-info{
  display: flex;
  flex-direction: column;
  padding-bottom: 5vh;
}

#long-logo{
  height: 20vh;
}

#email{
  color: var(--text-color);
  text-decoration: none;
  position: relative;
  left: 5vh;
  font-size: 1.25rem;
}

#mail-add {
  font-size: 1.25rem;
  color: var(--text-color);
  text-decoration: none;
  position: relative;
  left: 5vh;

}

#mail-add:hover{
  color: var(--text-color);
  text-decoration: underline;
}

#contact-links{
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  padding-right: 5vw;;
}

#contact-links a{
  color: var(--text-color);
  text-decoration: none;
}

#contact-links a:hover{
  color: var(--subtext-color);
  text-decoration: underline;
}

hr {
  width:90%; 
  margin-top: 5vh;
  height:1px; 
  border-color: var(--subtext-color);
}

#contact h5{
  color: var(--subtext-color);
  padding-bottom: 2vh;
}
/* BALLS ANIMATION */
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.ball {
  position: absolute;
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  backface-visibility: hidden;
  animation: move linear infinite;
  z-index: 1;
}

.ball:nth-child(odd) {
  color: var(--primary-color);
}

.ball:nth-child(even) {
  color: var(--primary-color);
  
}

/* Individual Ball Configurations */
.ball:nth-child(1) {
  top: 77%;
  left: 88%;
  animation-duration: 18s;
  animation-delay: -3s;
  transform-origin: 16vw -2vh;
  box-shadow: 40vmin 0 5.703076368487546vmin currentColor;
}
.ball:nth-child(2) {
  top: 42%;
  left: 2%;
  animation-duration: 16s;
  animation-delay: -29s;
  transform-origin: -12vw 18vh;
  box-shadow: -40vmin 0 5.17594621519026vmin currentColor;
}
.ball:nth-child(3) {
  top: 28%;
  left: 18%;
  animation-duration: 28s;
  animation-delay: -2s;
  transform-origin: -15vw 3vh;
  box-shadow: 40vmin 0 5.248179047256236vmin currentColor;
}
.ball:nth-child(4) {
  top: 50%;
  left: 79%;
  animation-duration: 42s;
  animation-delay: -7s;
  transform-origin: -13vw -6vh;
  box-shadow: 40vmin 0 5.279749632220298vmin currentColor;
}
.ball:nth-child(5) {
  top: 46%;
  left: 15%;
  animation-duration: 48s;
  animation-delay: -20s;
  transform-origin: 4vw 0vh;
  box-shadow: -40vmin 0 5.964309466052033vmin currentColor;
}
.ball:nth-child(6) {
  top: 77%;
  left: 16%;
  animation-duration: 32s;
  animation-delay: -5s;
  transform-origin: 18vw 4vh;
  box-shadow: 40vmin 0 5.178483653434181vmin currentColor;
}
.ball:nth-child(7) {
  top: 22%;
  left: 17%;
  animation-duration: 45s;
  animation-delay: -3s;
  transform-origin: 1vw -20vh;
  box-shadow: -40vmin 0 5.703026794398318vmin currentColor;
}
.ball:nth-child(8) {
  top: 41%;
  left: 47%;
  animation-duration: 50s;
  animation-delay: -15s;
  transform-origin: 20vw -3vh;
  box-shadow: 40vmin 0 5.196265905749415vmin currentColor;
}

/* SCROLLABLE CONTENT */

.content {
  width: 100vw;
  background: white;
  color: #333;
  /* padding-top: 150px 20%; */
  padding: 0;
  line-height: 1.7;
  /* min-height: 100vh; */
}

